<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  
<div class="personal_nav" th:fragment="personal_nav">
    <ul>
        <li><a href="personal_info.do">个人中心</a></li>
        <li><a href="/c2c/publish_product.do">发布商品</a></li> 
        <li><a href="/c2c/require_product.do">发布求购信息</a></li>
        <li><a href="/c2c/shopping_cart.do">我的购物车</a></li>
        <li><a href="/c2c/my_publish_product_page.do">我发布的商品</a></li>
        <li><a href="/c2c/my_require_product_page.do">我求购的商品</a></li>
        <li><a class="/login_out" href="/c2c/logout.do">退出</a></li>
    </ul>
</div>

</html>