<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  
<div class="short_nav_show" th:fragment="short_nav_show" style="height: 46%">
  <!--  <ul>
        <li><a href="/c2c/">首页</a></li>
        <li><a href="/c2c/mall_page.do">商城</a></li>
        <li><a href="/c2c/require_mall.do">求购商城</a></li>
        <li><a href="#">反馈与意见</a></li>
        <li><a href="#">联系我们</a></li>
    </ul> 
            <li class="type_3">鞋服配饰</li>
        <li class="type_4">运动代步</li>
        <li class="type_5">书籍文具</li>
        <li class="type_6">其他</li>
    
      -->
    
    <ul>
        <li class="type_1">数码科技</li>
        <li class="type_2">影音家电</li>
		<li class="type_4">运动代步</li>
        <li class="type_5">书籍文具</li>
    </ul>
    
    
</div>
</html>